.card-section-container {
  text-align: center; /* Centra los elementos hijos horizontalmente */
  gap: 100px;
  padding: 20px;
}

.subtitle {
  font-size: 2.2em;
  margin: 20px 0;
}

.highlight {
  color: #007bff;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .subtitle {
    font-size: 1em;
  }

  .card-container {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .subtitle {
    font-size: 2em; 
  }
}
